{% extends 'secondary_nav_base.html' %}

{% block secondnavcontent %}
    <li class = "">
        <a class="nav-link" id = "account-information" href="{% url 'account-information' %}">Account Information</a>
    </li>
    <li class = "">
        <a class="nav-link" id = "account-security" href="{% url 'security' %}">Security</a>
    </li>
{% endblock %}

{% block content %}
<form method = "post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type = "submit" class = "btn btn-outline-success my-2 my-sm-0"> Update account</button>
{% endblock %}

{% block javascript %}

<!-- Navbar active script-->
{% if request.get_full_path == '/account/account-information/' %}
<script>
    $(".navbar-nav li").removeClass("active");
    $("#account").addClass("active");
    $("#account-information").addClass("active");
</script>
{% elif request.get_full_path == '/account/security/' %}
<script>
    $(".navbar-nav li").removeClass("active");
    $("#account").addClass("active");
    $("#account-security").addClass("active");
</script>
{% endif %}

{% endblock %}