{% extends 'secondary_nav_base.html' %}

{% block secondnavcontent %}
    <li class = "nav-item active">
        <a class="nav-link" href="#">Account Information</a>
    </li>
    <li class = "nav-item">
        <a class="nav-link" href="#">Security</a>
    </li>
{% endblock %}

{% block content %}
<form method = "post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type = "submit" class = "btn btn-outline-success my-2 my-sm-0"> Update account</button>
{% endblock %}

{% block javascript %}
<script>
    // This Script asynchonously loads the Account Information
    // tab and the Security tab

</script>
{% endblock %}