{% extends 'secondary_nav_base.html' %}

{% block secondnavcontent %}
    <li class = "nav-item active">
        <a class="nav-link" href="{% url 'account-information' %}">Account Information</a>
    </li>
    <li class = "nav-item">
        <a class="nav-link" href="{% url 'security' %}">Security</a>
    </li>
{% endblock %}

{% block content %}
<form method = "post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type = "submit" class = "btn btn-outline-success my-2 my-sm-0"> Update account</button>
{% endblock %}

{% block javascript %}

<script>

</script>
{% endblock %}