{% extends 'base.html' %}
{% block content %}
<!-- Top Stock bar-->
<div class = "row">
    <div class = "col-md-11">
        <div class = "row">
            <div class = "col-md-1 text-center">
                 <!-- Fetch logo with clearbit - logo api-->
                 <img src = "{{"//logo.clearbit.com/"|add:logostring|add:"?size=80"}}">
                 <p>{{stock.symbol}}</p>
            </div>
            <!-- Middle col of header part of the page. Contains general inforamation (non financial)-->
            <div class = "col-md-9">
                <div class = "col-md-12">
                     <!-- Stock name-->
                     <h3>{{stock.company_name}}</h3>
                     <!-- Stock categories-->
                     <small>
                         Equity Type : <a href = "https://www.google.com">Stock</a> | 
                         Exchange : <a href = "https://www.google.com"> {{stock.exchange}}</a> |
                         Sector: <a href = "https://www.google.com"> {{stock.sector}}</a> |
                         Industry: <a href = "https://www.google.com"> {{stock.industry}}</a>
                     </small>
                     <br>
                     <!-- Stock description-->
                     <small>
                         {{stock.description}}
                     </small>
                </div>
            </div>
         </div>
         <div class = "row">
             <!-- Here goes the chart.js stuff-->
             <canvas id="pricehistory" height="150"></canvas>


         </div>
    </div>
    <div class = "col-sm-1">
    </div>
</div>
{% endblock %}
{% block javascript %}

<script>
var ctx = document.getElementById("pricehistory").getContext('2d');
var pricehistory = new Chart(ctx, {
    type: 'line',
    data: {
        
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange","2", "3", "5"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3, 6, 7, 8, 9, 4, 5, 6, 2, 3, 4, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        elements: {
        line: {
            tension: 0
        }
    }
        
    }
});
</script>
{% endblock %}